{% extends 'base.html' %}

{% block title %}Usuários{% endblock %}

{% block content %}

<div class="flex flex-col">
    <div class="-m-1.5 overflow-x-auto">
        <div class="p-1.5 min-w-full inline-block align-middle">

            <div class="container mx-auto">
                <div class="flex justify-between items-center mb-4">
                    <h1 class="text-2xl font-bold">Listagem de Usuários</h1>
                    <button class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600" onclick="location.href='{{ url_for('usuario_adicionar') }}';">
                        Novo Usuário
                    </button>
                </div>
        
                <div class="mb-4">
                    <input type="text" placeholder="Pesquisar..." class="px-4 py-2 border rounded w-full" id="searchInput">
                </div>
        
                <div class="overflow-x-auto bg-white shadow-md rounded-lg">
                    <table class="min-w-full table-auto">
                        <thead class="bg-gray-200">
                            <tr>
                                <th class="px-6 py-3 text-left cursor-pointer" onclick="sortTable(0)">ID</th>
                                <th class="px-6 py-3 text-left cursor-pointer" onclick="sortTable(1)">Nome</th>
                                <th class="px-6 py-3 text-left cursor-pointer" onclick="sortTable(2)">Email</th>
                                <th class="px-6 py-3 text-left cursor-pointer" onclick="sortTable(3)">Documento</th>
                                <th class="px-6 py-3 text-left cursor-pointer" onclick="sortTable(4)">Telefone</th>
                                <th class="px-6 py-3 text-left cursor-pointer" onclick="sortTable(5)">Username</th>
                                <th class="px-6 py-3 text-left cursor-pointer" onclick="sortTable(6)">Data de Criação</th>
                                <th class="px-6 py-3 text-left cursor-pointer" onclick="sortTable(7)">Situação</th>
                                <th class="px-6 py-3 text-left"></th>
                            </tr>
                        </thead>
                        <tbody id="userTableBody">
                        </tbody>
                    </table>
                </div>
        
                <div class="mt-4 flex justify-between items-center">
                    <div>
                        <button class="px-4 py-2 bg-gray-300 rounded hover:bg-gray-400" onclick="prevPage()">Anterior</button>
                        <button class="px-4 py-2 bg-gray-300 rounded hover:bg-gray-400" onclick="nextPage()">Próxima</button>
                    </div>
                    <div>
                        <span id="currentPage">Página 1</span>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

<!-- Script de Ordenação, Paginação e Filtro -->
<script>

    const users_list = {{ users | tojson }};
    console.log('Usuários: ', users_list);

    let currentPage = 1;
    const rowsPerPage = 20;

    function renderTable() {

        const tableBody = document.getElementById('userTableBody');
        tableBody.innerHTML = '';

        const filteredUsers = filterUsers(users_list);
        const paginatedUsers = paginateUsers(filteredUsers, currentPage, rowsPerPage);

        paginatedUsers.forEach(user => {
            const row = document.createElement('tr');
            row.innerHTML = `
                <td class="px-6 py-4">${user.id}</td>
                <td class="px-6 py-4">${user.name}</td>
                <td class="px-6 py-4">${user.email}</td>
                <td class="px-6 py-4">${user.document}</td>
                <td class="px-6 py-4">${user.phone}</td>
                <td class="px-6 py-4">${user.username}</td>
                <td class="px-6 py-4">${user.creation_date}</td>
                <td class="px-6 py-4">${user.status == 1 ? 'Ativo' : 'Inativo'}</td>
                <td class="px-6 py-4">
                    <button title='Consultar' class="text-green-500 hover:text-green-700 mr-2" onclick="consultar(${user.id});"><i class="fas fa-eye"></i></button>
                    <button title='Alterar' class="text-blue-500 hover:text-blue-700 mr-2" onclick="alterar(${user.id});"><i class="fas fa-edit"></i></button>
                    <button title='Excluir' class="text-red-500 hover:text-red-700" onclick="excluir(${user.id});"><i class="fas fa-trash-alt"></i></button>
                </td>
            `;
            tableBody.appendChild(row);
        });

        document.getElementById('currentPage').innerText = `Página ${currentPage}`;
    }

    function sortTable(columnIndex) {
        users_list.sort((a, b) => {
            const column = Object.keys(a)[columnIndex];
            return a[column].localeCompare(b[column]);
        });
        renderTable();
    }

    function paginateUsers(users, page, rowsPerPage) {
        return users.slice((page - 1) * rowsPerPage, page * rowsPerPage);
    }

    function nextPage() {
        currentPage++;
        renderTable();
    }

    function prevPage() {
        if (currentPage > 1) currentPage--;
        renderTable();
    }

    function filterUsers(users) {
        const searchTerm = document.getElementById('searchInput').value.toLowerCase();
        return users.filter(user =>
            Object.values(user).some(value =>
                typeof value === 'string' && value.toLowerCase().includes(searchTerm)
            )
        );
    }

    document.getElementById('searchInput').addEventListener('input', renderTable);

    function consultar(param_id) {
        url = "/usuario-consultar/" + param_id;
        location.href = url;
    }

    function alterar(param_id) {
        url = "/usuario-alterar/" + param_id;
        location.href = url;
    }

    function excluir(param_id) {
        url = "/usuario-excluir/" + param_id;
        location.href = url;
    }

    renderTable();
</script>

{% endblock %}
