{% extends 'base.html' %}

{% block content %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.css" integrity="sha512-C4k/QrN4udgZnXStNFS5osxdhVECWyhMsK1pnlk+LkC7yJGCqoYxW4mH3/ZXLweODyzolwdWSqmmadudSHMRLA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<style>
    #image {
        max-width: 100%;
    }
</style>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

<div class="bg-white p-8 rounded-lg shadow-lg w-full">
    <h2 class="text-2xl font-bold mb-6 text-gray-800">Inclusão de Categoria</h2>
    <form id="categoryForm" action="#" method="POST" enctype="multipart/form-data">
        <div class="mb-4">
            <label for="name" class="block text-gray-700 font-medium mb-2">Nome</label>
            <input type="text" id="name" name="name" value="{{category.name}}" class="w-full p-3 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" required>
        </div>
        <div class="mb-4">
            <label for="description" class="block text-gray-700 font-medium mb-2">Descrição</label>
            <textarea id="description" name="description" class="w-full p-3 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" rows="4" required>{{category.description}}</textarea>
        </div>

        <div class="mb-4">
            <label for="inputImage" class="block text-gray-700 font-medium mb-2">Upload de imagem</label>
            <input type="file" id="inputImage" class="mb-4 w-full border border-gray-300 rounded p-2" accept="image/*" required>
            
            <div class="mb-4" id="preview-container" style="display: none;">
                <img id="image" src="" alt="Imagem para Recorte">
            </div>
        </div>

        <div class="mb-6">
            <label for="status" class="block text-gray-700 font-medium mb-2">Situação</label>
            <select id="status" name="status" class="w-full p-3 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" required>
                <option value="">Selecione</option>
                <option value="1" {{ 'selected' if category.status == 1 }}>Ativo</option>
                <option value="0" {{ 'selected' if category.status == 0 }}>Inativo</option>
            </select>
        </div>
        <div class="flex justify-between">
            <button type="submit" class="bg-blue-500 text-white px-6 py-3 rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500">Salvar</button>
            <button type="button" onclick="history.back()" class="bg-gray-300 text-gray-700 px-6 py-3 rounded-md hover:bg-gray-400 focus:outline-none focus:ring-2 focus:ring-gray-300">Cancelar</button>
        </div>
    </form>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.js" integrity="sha512-LjPH94gotDTvKhoxqvR5xR2Nur8vO5RKelQmG52jlZo7SwI5WLYwDInPn1n8H9tR0zYqTqfNxWszUEy93cHHwg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    let cropper;

    document.getElementById('inputImage').addEventListener('change', function (e) {
        const files = e.target.files;
        const done = (url) => {
            document.getElementById('image').src = url;
            document.getElementById('preview-container').style.display = 'block';
        };

        if (files && files.length > 0) {
            const reader = new FileReader();
            reader.onload = function (event) {
                done(event.target.result);
            };
            reader.readAsDataURL(files[0]);
        }
    });

    document.getElementById('image').addEventListener('load', function () {
        if (cropper) {
            cropper.destroy();
        }
        cropper = new Cropper(this, {
            aspectRatio: 1.8, // Define um aspecto de recorte de 1:1
            viewMode: 1,
            autoCropArea: 1,
            responsive: true,
            ready() {
                document.getElementById('cropButton').classList.remove('hidden');
            }
        });
    });

    document.getElementById('categoryForm').addEventListener('submit', function (event) {
        event.preventDefault(); // Evitar o envio normal do formulário

        const canvas = cropper.getCroppedCanvas({
            width: 300, // Define a largura do canvas
            height: 300 // Define a altura do canvas
        });
        canvas.toBlob(function (blob) {
            const formData = new FormData(event.target); // Cria um FormData a partir do formulário
            formData.append('image', blob, 'cropped.jpg'); // Adiciona a imagem recortada

            // Enviar os dados do formulário para o servidor
            fetch(event.target.action, {
                method: 'POST',
                body: formData,
            })
            .then(response => {
                if (response.ok) {
                    //window.location.reload(); // Recarregar a página após o upload
                    window.location = '/categoria-lista';
                } else {
                    console.error('Erro ao fazer upload da imagem.');
                }
            })
            .catch(error => {
                console.error('Erro:', error);
            });
        });
    });
</script>

{% endblock %}
