<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %} - Water App</title>

    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />

    <script src="{{ url_for('static', filename='js/app.js') }}"></script>

    <script>
      window.onload = function() {
        updateQuantityItens();
      };
    </script>
    
</head>
<body class="h-full">

    <div class="min-h-full">
        <nav class="bg-gray-800">
          <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
            <div class="flex h-16 items-center justify-between">
              
              <!-- Ícone da Seta -->
              <div class="flex items-center">
                <i class="fa fa-arrow-circle-up fa-5x text-white" style="transform: rotate(45deg);"></i>
              </div>

              <div class="hidden md:block">
                <div class="ml-10 flex items-baseline space-x-4">
                  
                  <a href="{{ url_for('catalogo_lista') }}" class="px-3 py-2 rounded-md text-sm font-medium {% if current_page == 'catalogs' %}bg-gray-900 text-white aria-current="page"{% else %}text-gray-300 hover:bg-gray-700 hover:text-white{% endif %}">
                    Dashboard
                  </a>

                  <a href="{{ url_for('produto_lista') }}" class="px-3 py-2 rounded-md text-sm font-medium {% if current_page == 'products' %}bg-gray-900 text-white aria-current="page"{% else %}text-gray-300 hover:bg-gray-700 hover:text-white{% endif %}">
                      Produtos
                  </a>

                  <a href="{{ url_for('categoria_lista') }}" class="px-3 py-2 rounded-md text-sm font-medium {% if current_page == 'categories' %}bg-gray-900 text-white aria-current="page"{% else %}text-gray-300 hover:bg-gray-700 hover:text-white{% endif %}">
                    Categorias
                  </a>

                  <a href="{{ url_for('usuario_lista') }}" class="px-3 py-2 rounded-md text-sm font-medium {% if current_page == 'users' %}bg-gray-900 text-white aria-current="page"{% else %}text-gray-300 hover:bg-gray-700 hover:text-white{% endif %}">
                    Usuários
                  </a>

                  <a href="{{ url_for('perfil_lista') }}" class="px-3 py-2 rounded-md text-sm font-medium {% if current_page == 'profiles' %}bg-gray-900 text-white aria-current="page"{% else %}text-gray-300 hover:bg-gray-700 hover:text-white{% endif %}">
                    Perfis
                  </a>
                  
                  <a href="{{ url_for('relatorio_vendas') }}" class="px-3 py-2 rounded-md text-sm font-medium {% if current_page == 'report_sales' %}bg-gray-900 text-white aria-current="page"{% else %}text-gray-300 hover:bg-gray-700 hover:text-white{% endif %}">
                    Relatorio de vendas
                  </a>

                </div>
              </div>

              <!-- Carrinho de compras -->
              <div class="flex items-center">
                <a href="{{ url_for('mostrar_carrinho') }}" class="relative px-3 py-2 rounded-md text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">
                  <i class="fa fa-cart-plus fa-2x text-white"></i>
                  <!-- Contador do carrinho -->
                  <div class="absolute top-0 right-0 bg-red-500 rounded-full h-6 w-6 flex items-center justify-center text-xs text-white md:text-center" id="cart-counter"></div>
                </a>
              </div>

            </div>
          </div>
        </nav>
      
        <main>
          <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
            {% block content %} {% endblock %}
          </div>
          <footer class="bg-gray-800 text-sm text-white p-1 text-center">
            <p>© 2024 hub-pay. Todos os direitos reservados. Versão 0.0.1</p>
          </footer>
        </main>
    </div>

</body>
</html>
